<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811828125363-h0b31nibu0f5a02fq25eov6u5tthp1s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811828125363-h0b31nibu0f5a02fq25eov6u5tthp1s2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811828125363-83im8nhpq2lkmhjlqj8djqvl3743dmbc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9NtTtsEnQiYUa4TBT1D0f3s0-wjrYvn8</string>
	<key>GCM_SENDER_ID</key>
	<string>811828125363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wrteam.edemand.provider</string>
	<key>PROJECT_ID</key>
	<string>edemand-79907</string>
	<key>STORAGE_BUCKET</key>
	<string>edemand-79907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811828125363:ios:c9b83c3e3e439aad1f5ac6</string>
</dict>
</plist>